.campanies {
    padding:  10rem 0 10rem 0;

    &__logo-box {
        max-width: 100%;
        height: 9rem;
        margin-bottom: 2rem;
        padding: 0.9rem;
        text-align: center;
        position: relative;

        img {
            height: 100%;

            &:hover {
                filter: grayscale(120);
            }
        }
    }
}